List Exercises level1

In [35]:
empty_list=[]

list=['book','bag','shoe','cup','ruler']

length_list=len(list)
print("The length of this list is:",length_list)

first_item=list[0]
middle_item=list[len(list)//2]
last_item=list[-1]
print("first_item:",first_item, "middle_item:",middle_item, "last_item:",last_item)

mixed_data_types=["Habiba",28,5.8,"single","Dutse Jigawa"]

it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]

print(it_companies)
print("the number of ompanies in th list are ",len(it_companies))



first_company=it_companies[0]
middle_company=it_companies[len(list)//2]
last_company=it_companies[-1]
print("first_company:",first_company, "middle_company:",middle_company, "last_company:",last_company)

first_companyM=first_company,"Meta"
print(first_companyM)
#or
it_companies[0]="Meta"
print(it_companies)

it_companies.append("Twitter")
print("After adding twitter as th  new IT company the new companies are:",it_companies)

it_companies.insert(len(it_companies)//2,"Pinterest")
print(it_companies)

it_companies[1]=it_companies[1].upper()
print("After changing google to upper case:",it_companies)

joined_companies="#; ".join(it_companies)
print("Joined companies:",joined_companies)



chck_company="Bibexglobal" in it_companies
print("is Bibexglobal in the list?",chck_company)


it_companies.sort()
print("sorted list:",it_companies)

it_companies.reverse()
print("Reversed list:",it_companies)


first_three=it_companies[:3]
print("First three companies are:",first_three)

last_three=it_companies[-3 :]
print("Last three companies are:",last_three)


middle_index = len(it_companies) // 2
middle_company = it_companies[middle_index] if len(it_companies) % 2 != 0 else it_companies[middle_index-1:middle_index+1]
print("Middle Company is:", middle_company)

it_companies.pop(0)
print("After removing the first company:",it_companies)

middle_index=len(it_companies)//2
it_companies.pop(middle_index)
print("After removing the middle company",it_companies)

it_companies.pop(-1)
print(it_companies)

it_companies.clear()
print("After clearing IT companies:",it_companies)

del it_companies


front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list=front_end + back_end
print(joined_list)


full_stack=['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
redux_index=full_stack.index("Redux")
full_stack.insert(redux_index + 1,"Python")
full_stack.insert(redux_index + 2, "SQL")
print("Full_stack list:",full_stack)

The length of this list is: 5
first_item: book middle_item: shoe last_item: ruler
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
the number of ompanies in th list are  7
first_company: Facebook middle_company: Microsoft last_company: Amazon
('Facebook', 'Meta')
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
After adding twitter as th  new IT company the new companies are: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter']
['Meta', 'Google', 'Microsoft', 'Apple', 'Pinterest', 'IBM', 'Oracle', 'Amazon', 'Twitter']
After changing google to upper case: ['Meta', 'GOOGLE', 'Microsoft', 'Apple', 'Pinterest', 'IBM', 'Oracle', 'Amazon', 'Twitter']
Joined companies: Meta#; GOOGLE#; Microsoft#; Apple#; Pinterest#; IBM#; Oracle#; Amazon#; Twitter
is Bibexglobal in the list? False
sorted list: ['Amazon', 'Apple', 'GOOGLE', 'IBM', 'Meta', 'Microsoft', 'Oracle', 'Pinterest', 'Twitter']
Reversed list: ['Twitter', 'Pinterest', 'Oracle', 'Microsoft', 'Meta', 'IBM', 'GOOGLE', 'Apple', 'Amazon']
First three companies are: ['Twitter', 'Pinterest', 'Oracle']
Last three companies are: ['GOOGLE', 'Apple', 'Amazon']
Middle Company is: Meta
After removing the first company: ['Pinterest', 'Oracle', 'Microsoft', 'Meta', 'IBM', 'GOOGLE', 'Apple', 'Amazon']
After removing the middle company ['Pinterest', 'Oracle', 'Microsoft', 'Meta', 'GOOGLE', 'Apple', 'Amazon']
['Pinterest', 'Oracle', 'Microsoft', 'Meta', 'GOOGLE', 'Apple']
After clearing IT companies: []
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Full_stack list: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

Lists Exercise Level 2

In [3]:
ages=[19,22,19,24,20,25,26,24,25,24]

ages.sort()
min_age=ages[0]
max_age=ages[-1]
print("Min age:",min_age)
print("Max age:",max_age)

ages.append(min_age)
ages.append(max_age)
print(ages)

#finding median age
ages.sort()
n=len(ages)
median_age=ages[n//2] if n % 2 !=0 else(ages[n//2-1] +ages[n//2])/2
print("Median_age:",median_age)

#finding the average age
average_age=sum(ages)/len(ages)
print("Average age:",average_age)

#find the range of the age
age_range=max_age-min_age
print("Range of ages:",age_range)

#comparing the values
min_diff=abs(min_age-average_age)
max_diff=abs(max_age-average_age)
print("The difference between min_age an average_age is :",min_diff)
print("The diffrence between the max_age and average_age is :",max_diff)

#finding middle countries in countries list
with open("C:/Users/Habiba Isah/Desktop/30DaysOfPython/day_5/countries.py","r") as file:
    countries= [line.strip()for line in file.readlines()]

n= len(countries)
middle = (
    countries[n // 2] if n % 2 != 0 else countries[n // 2 - 1 : n // 2 + 1]
)
print("Middle country(ies):",middle)

#dividing th list into two halves
n=len(countries)
midpoint= n // 2

if n % 2 == 0:
    first_half = countries [:midpoint]
    second_half = countries [midpoint:]
else:
    first_half=countries[:midpoint + 1]
    second_half=countries[midpoint + 1:]
    
print('First half:', first_half)
print('Second half:', second_half)


#unpacking countries
L_countries = ['China','Russia','USA','Finland','Sweden','Norway','Dennark']
#unpacking
first,second,third, *scandic_countries = L_countries
print("First Country :",first)
print("Second Country :",second)
print("Third Country :",third)
print("Scandic Countries :",scandic_countries)

Min age: 19
Max age: 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median_age: 24.0
Average age: 22.75
Range of ages: 7
The difference between min_age an average_age is : 3.75
The diffrence between the max_age and average_age is : 3.25
Middle country(ies): 'Lesotho',
First half: ['countries = [', "'Afghanistan',", "'Albania',", "'Algeria',", "'Andorra',", "'Angola',", "'Antigua and Barbuda',", "'Argentina',", "'Armenia',", "'Australia',", "'Austria',", "'Azerbaijan',", "'Bahamas',", "'Bahrain',", "'Bangladesh',", "'Barbados',", "'Belarus',", "'Belgium',", "'Belize',", "'Benin',", "'Bhutan',", "'Bolivia',", "'Bosnia and Herzegovina',", "'Botswana',", "'Brazil',", "'Brunei',", "'Bulgaria',", "'Burkina Faso',", "'Burundi',", "'Cambodia',", "'Cameroon',", "'Canada',", "'Cape Verde',", "'Central African Republic',", "'Chad',", "'Chile',", "'China',", "'Colombi',", "'Comoros',", "'Congo (Brazzaville)',", "'Congo',", "'Costa Rica',", '"Cote d\'Ivoire",', "'Croatia',", "'Cuba',", "'Cyprus',", "'Czech Republic',", "'Denmark',", "'Djibouti',", "'Dominica',", "'Dominican Republic',", "'East Timor (Timor Timur)',", "'Ecuador',", "'Egypt',", "'El Salvador',", "'Equatorial Guinea',", "'Eritrea',", "'Estonia',", "'Ethiopia',", "'Fiji',", "'Finland',", "'France',", "'Gabon',", "'Gambia, The',", "'Georgia',", "'Germany',", "'Ghana',", "'Greece',", "'Grenada',", "'Guatemala',", "'Guinea',", "'Guinea-Bissau',", "'Guyana',", "'Haiti',", "'Honduras',", "'Hungary',", "'Iceland',", "'India',", "'Indonesia',", "'Iran',", "'Iraq',", "'Ireland',", "'Israel',", "'Italy',", "'Jamaica',", "'Japan',", "'Jordan',", "'Kazakhstan',", "'Kenya',", "'Kiribati',", "'Korea, North',", "'Korea, South',", "'Kuwait',", "'Kyrgyzstan',", "'Laos',", "'Latvia',", "'Lebanon',", "'Lesotho',"]
Second half: ["'Liberia',", "'Libya',", "'Liechtenstein',", "'Lithuania',", "'Luxembourg',", "'Macedonia',", "'Madagascar',", "'Malawi',", "'Malaysia',", "'Maldives',", "'Mali',", "'Malta',", "'Marshall Islands',", "'Mauritania',", "'Mauritius',", "'Mexico',", "'Micronesia',", "'Moldova',", "'Monaco',", "'Mongolia',", "'Morocco',", "'Mozambique',", "'Myanmar',", "'Namibia',", "'Nauru',", "'Nepal',", "'Netherlands',", "'New Zealand',", "'Nicaragua',", "'Niger',", "'Nigeria',", "'Norway',", "'Oman',", "'Pakistan',", "'Palau',", "'Panama',", "'Papua New Guinea',", "'Paraguay',", "'Peru',", "'Philippines',", "'Poland',", "'Portugal',", "'Qatar',", "'Romania',", "'Russia',", "'Rwanda',", "'Saint Kitts and Nevis',", "'Saint Lucia',", "'Saint Vincent',", "'Samoa',", "'San Marino',", "'Sao Tome and Principe',", "'Saudi Arabia',", "'Senegal',", "'Serbia and Montenegro',", "'Seychelles',", "'Sierra Leone',", "'Singapore',", "'Slovakia',", "'Slovenia',", "'Solomon Islands',", "'Somalia',", "'South Africa',", "'Spain',", "'Sri Lanka',", "'Sudan',", "'Suriname',", "'Swaziland',", "'Sweden',", "'Switzerland',", "'Syria',", "'Taiwan',", "'Tajikistan',", "'Tanzania',", "'Thailand',", "'Togo',", "'Tonga',", "'Trinidad and Tobago',", "'Tunisia',", "'Turkey',", "'Turkmenistan',", "'Tuvalu',", "'Uganda',", "'Ukraine',", "'United Arab Emirates',", "'United Kingdom',", "'United States',", "'Uruguay',", "'Uzbekistan',", "'Vanuatu',", "'Vatican City',", "'Venezuela',", "'Vietnam',", "'Yemen',", "'Zambia',", "'Zimbabwe'", ']']
First Country : China
Second Country : Russia
Third Country : USA
Scandic Countries : ['Finland', 'Sweden', 'Norway', 'Dennark']

Tuple Exerise Level1

In [5]:
tuple=()
sisters=("Hauwa","Aisha","Hafsa","Khadijah")
print("My sisters are :",sisters)

Brothers=("Manu","Aliyu")
print("My brothers are :",Brothers)
siblings=sisters+Brothers
print("My siblings are :",siblings)

num_siblings=len(siblings)
print(num_siblings)

family_members=("Isah","Maryam") + siblings
print("My family members are :",family_members)

My sisters are : ('Hauwa', 'Aisha', 'Hafsa', 'Khadijah')
My brothers are : ('Manu', 'Aliyu')
My siblings are : ('Hauwa', 'Aisha', 'Hafsa', 'Khadijah', 'Manu', 'Aliyu')
6
My family members are : ('Isah', 'Maryam', 'Hauwa', 'Aisha', 'Hafsa', 'Khadijah', 'Manu', 'Aliyu')

Tuple Exercise Level 2

In [14]:
siblings,parents = siblings ,("Isah","Maryam")
print("Siblings:",siblings)
print("Parent:",parents)

fruits = ("Apple","Guava","Lemon")
vegetables= ("Carrot","Lettus","Cabbage")
animal_products=("Milk","Egg","Tofu")

food_stuff_tp=fruits+vegetables+animal_products
print("Food stuff tuple:",food_stuff_tp)

#chaging to list
food_stuff_lt=list(food_stuff_tp)
print("Food stuff list:",food_stuff_lt)

#slicing out the middle item
mid_index=len(food_stuff_tp) // 2
if len(food_stuff_tp) % 2 ==0:
    middle_items=food_stuff_tp[mid_index - 1 : mid_index + 1]
else:
    middle_items=[food_stuff_tp[mid_index]]
print("Middle item(s):",middle_items)

#slice out the first three
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print("First Three items:",first_three)
print("Last Three items",last_three)

#delete tupple
del(food_stuff_tp)
print("Deleted food stuff tupple:")

#check for item
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
if "Estonia" in nordic_countries:
    print("Estonia is present.")
else:
    print("Estonia is not present.")

Siblings: ('Hauwa', 'Aisha', 'Hafsa', 'Khadijah', 'Manu', 'Aliyu')
Parent: ('Isah', 'Maryam')
Food stuff tuple: ('Apple', 'Guava', 'Lemon', 'Carrot', 'Lettus', 'Cabbage', 'Milk', 'Egg', 'Tofu')
Food stuff list: ['Apple', 'Guava', 'Lemon', 'Carrot', 'Lettus', 'Cabbage', 'Milk', 'Egg', 'Tofu']
Middle item(s): ['Lettus']
First Three items: ['Apple', 'Guava', 'Lemon']
Last Three items ['Milk', 'Egg', 'Tofu']
Deleted food stuff tupple:
Estonia is not present.

Sets Exercises Level1

In [18]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

Length=len(it_companies)
print(f"The length of IT Companies is: {Length}")

#addTwitter to it companies
it_companies.add("Twitter")
print(f"IT Companies the after addition:{it_companies}")

#insert multiple companies
new_companies = {"Netflix","Tiktok","Instagram"}
it_companies.update(new_companies)
print(f"IT Companies after adding multiple companies:{it_companies}")

#remove one of the companies
it_companies.remove("Apple")
print(f"IT companies after removing Apple:{it_companies}")

The length of IT Companies is: 7
IT Companies the after addition:{'IBM', 'Google', 'Facebook', 'Oracle', 'Microsoft', 'Amazon', 'Twitter', 'Apple'}
IT Companies after adding multiple companies:{'IBM', 'Google', 'Tiktok', 'Microsoft', 'Apple', 'Amazon', 'Twitter', 'Instagram', 'Facebook', 'Oracle', 'Netflix'}
IT companies after removing Apple:{'IBM', 'Google', 'Tiktok', 'Microsoft', 'Amazon', 'Twitter', 'Instagram', 'Facebook', 'Oracle', 'Netflix'}

Difference Between remove and discard
-  Remove:
   - Removes a specified element from the set.
   - Raises a KeyError if the element is not found .

- Discard:
  - Removes a specified element from the set.
  - Does not raise an error if the element is not found
  
A Code illustrating this is shown below

In [ ]:
it_companies.remove('Yahoo')  # Will raise KeyError if 'Yahoo' is not in the set

it_companies.discard('Yahoo')  # Will not raise any error even if 'Yahoo' is not in the set

Sets Exercises Level 2

In [25]:
A={19,22,24,20,25,26}
B={19,22,20,25,24,28,27}

#Join A and B
union_set = A.union(B)
print(f"Join(union) of A an B:{union_set}")

#fin A intersection B
intersection_set=A.intersection(B)
print(f"Interset of A and B is:{intersection_set}")

#checking for subsets
is_subset=A.issubset(B)
print(f"Is A a subset of B? {is_subset}")

#disjoint
disjoint=A.isdisjoint(B)
print(f"Are A and B disjoints?{disjoint}")

#joining
joinAUB = A.union(B)
joinBUA = B.union(A)
print(f"A union B:{joinAUB}")
print(f"B union A:{joinBUA}")

#symmetric difference
symetric_diff= A.symmetric_difference(B)
print(f"The symmetric difference between A and B is:{symetric_diff}")


#del sets
del A,B
print("Sets A and B deleted.")

Join(union) of A an B:{19, 20, 22, 24, 25, 26, 27, 28}
Interset of A and B is:{19, 20, 22, 24, 25}
Is A a subset of B? False
Are A and B disjoints?False
A union B:{19, 20, 22, 24, 25, 26, 27, 28}
B union A:{19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between A and B is:{26, 27, 28}
Sets A and B deleted.

Sets Exercises Level 3

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set=set(age)

#compare the length 
list_length=len(age)
set_length=len(age_set)

print(f"The length of the list is {list_length}")
print(f"The length of the set is {set_length}")

if list_length > set_length:
    print("The list is bigger than the set")
else:
    print("The set is bigger than the list")

The length of the list is 8
The length of the set is 5
The list is bigger than the set

## Explanation of Data Types:
1. **String**: A sequence of characters used to store text. Strings are immutable, meaning they cannot be changed after creation.
   
Example: 
```python
print("hello,world!")
```
  
1. **List**: An ordered, mutable collection of items. It can store mixed data types and allows duplicates.

Example:
```python
[1,2,3,"python"]
```
   
2. **Tuple**: Similar to a list but immutable, meaning its items cannot be modified after creation. It is used to store a fixed set of items.
   
Example:
```python
(1,2,3,"python")
```
   
3. **Set**: An unordered collection of unique items. Sets do not allow duplicates and are used for operations like union, intersection, etc.

Example:
```python
{1,2,3,4}
```

In [28]:
sentence = "I am a teacher and I love to inspire and teach people."

# Split the sentence into words and convert to a set
words = sentence.split()
unique_words = set(words)

# Number of unique words
unique_word_count = len(unique_words)

print(f"Unique words: {unique_words}")
print(f"Number of unique words: {unique_word_count}")

Unique words: {'a', 'teacher', 'love', 'people.', 'am', 'to', 'inspire', 'teach', 'and', 'I'}
Number of unique words: 10